Source: ardublock
Section: devel
Priority: optional
Maintainer: Lliurex Team <lliurex@edu.gva.es>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
Homepage: http://www.lliurex.net

Package: ardublock
Architecture: any
Pre-Depends:arduino-ide
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ArduBlock
 A graphical programming language for Arduino
